body {
    background-color: black;
}

.btn {
    margin: auto;
    display: block;
}

.strain {
    text-align: center;
    font-size: 90px;
    color: white;
    font-family: sans-serif;
    position: relative;
    bottom: 50px;
}